---
import "../styles/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scrollbar-hide scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/pre-toi22/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Join Pre TOI 22 by Gean Dev. Happening May 6 and 7, 2025, 18:00-23:00. Visit now for details!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Open Graph -->
    <meta property="og:title" content="Pre TOI 22 by Gean Dev" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pre-toi22.geandev.dev/" />
    <meta property="og:description" content="Join Pre TOI 22 by Gean Dev. Happening May 6 and 7, 2025, 18:00-23:00. Visit now for details!" />
  </head>
  <body>
    <div class="bg-slate-800">
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    /* background-color: #f6f6f6; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  @keyframes bounce-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
  }

  .animate-bounce-horizontal {
    animation-name: bounce-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
</style>